html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body{
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0px;
    font-family: 'BioRhyme', serif;
    background-color: #f0f0f0;
    padding-right: 0px !important;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* #my_brand{
    opacity: 0;
  } */

  /* NEW ADDITION 26.12 */
  #social-footer li
{
  opacity: 0;
}
  .navbar-collapse a, #my_brand, #second_row a, #visit-us, #social-footer a{
    outline: none;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }
  
  #main_navbar{
    min-height: 40px;
    box-shadow: none;
    z-index: 1050;
  }
  
  .navbar{
    padding-right: 1rem !important;
  }
  
  .colored{
    background-color: #f0f0f0 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
  
  .my_nav{
    font-size: 1.5rem;
    color: white !important;
  }
  
  @media(max-width: 991px)
  {
    .my_nav{
      font-size: 1.5rem;
      color: #4b2807 !important;
     
    }
  }
  
  .my_nav:hover,
  .my_nav:focus{
    color: #FFCA26 !important;
  }
  
  @media(min-width: 1200px){
    .my_nav::after{
      content: '';
      height: 3px;
      display: block;
      width: 100%;
      background-color: transparent;
      
    }
    .my_nav:hover::after,
    .my_nav:focus::after{
    
      background-color: #ED1F28;
    }
  
    .my_nav::before{
      content: '';
      height: 3px;
      display: block;
      width: 100%;
      background-color: transparent;
      
    }
    .my_nav:hover::before,
    .my_nav:focus::before{
      background-color: #ED1F28;
  
    }
  
    .my_nav::before, .my_nav::after{
      transition: background-color 0.5s ease;
    }
  }
  
  .nav_menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    outline: none;
  
  }
  
  #my_brand:hover,
  #my_brand:focus{
    transition: all ease-in-out 0.5s;
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .colored .line{
    stroke: black;
  }
  .scrolled .line{
    stroke: black;
  }
  
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  
  .scrolled {
    background-color: #f0f0f0 !important;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3) !important;
  }
  .scrolled > .collapse > .nav .my_nav, .colored > .collapse > .nav .my_nav{
    color: #4b2807 !important;
  }
  @media(max-width: 991px){
    .scrolled > .collapse > .nav .my_nav:hover, .colored > .collapse > .nav .my_nav:hover{
      color: rgba(75, 40, 7, 0.5) !important;
    }
  }
  
  @media(max-width: 991px){
    #navbarCollapse{
        min-height: 100vh;
    }
  }
  
  @media(min-width: 480px) and (max-width: 991px) and (max-height: 480px){
    #navbarCollapse{
        /* height: calc(100vh - 100px); */
        height: 80vh;
        min-height: 80vh;
        overflow-y: scroll;
        
    }
    .navbar-nav{
      padding-top: 0 !important;
    }
  }
  
  
  .noscroll { 
    overflow: hidden;
    position: fixed;
  }
  
  .fixed-top.colored .navbar-collapse{
    display: block;
  }
  
  .fixed-top.colored .navbar-collapse .nav-item.nav-link{
    opacity: 1 !important;
  }
  
  @media (max-width: 991px) {
    .fixed-top .navbar-collapse{
        display: none;
    }
    .fixed-top .navbar-collapse .nav-item.nav-link{
        opacity: 0 !important;
    }
  }
    @media (min-width: 992px) {
    .fixed-top .navbar-collapse{
        display: block;
    }
    .fixed-top .navbar-collapse .my_nav{
        opacity: 1 !important;
    }
  }
  
  #nav-icons ul {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  
  }
  
  #nav-icons ul li {
    list-style: none;
  }
  
  #nav-icons ul li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    margin: 0 15px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  #nav-icons ul li a .icon {
    position: relative;
    color: #1b1b1b;
    transition: 0.5s;
    z-index: 3;
  }
  
  #nav-icons ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  #nav-icons ul li a:hover .black-icon {
    color: black;
    transform: rotateY(360deg);
  }
  
  #nav-icons ul li a:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
  }
  
  #nav-icons ul li a:hover:before {
    top: 0;
  }
  
  #nav-icons ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  #nav-icons ul li:nth-child(2) a:before{
    background: linear-gradient(#a8e063, #56ab2f)
  }
  
  #nav-icons ul li:nth-child(3) a:before {
    background: #55acee;
  }
  
  #nav-icons ul li:nth-child(4) a:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  #nav-icons ul li:nth-child(5) a:before {
    background: #00AA6C;
  }
  
  @media(max-width: 767px){
    #our-brand{
      width: 60px;
      height: 60px;
    }
  }
  
  #header{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background: linear-gradient( rgba(104, 92, 135, 0.6), rgba(0, 0, 0, 0.6) ), url("../assets/coding.jpeg");
    /* background: linear-gradient( rgba(174, 142, 204, 0.7), rgba(0, 0, 0, 0.7) ), url("/assets/coding.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 10%;
  }
  
  
  @media (max-width: 1024px) {
  #header {
    background: linear-gradient( rgba(104, 92, 135, 0.6), rgba(0, 0, 0, 0.6) ), url("../assets/coding.jpeg");
    /* background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("/assets/DSC_0969_mobile.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45%;
    font-size: 0.5rem;
  }
  
  }
  
  @media (max-width: 767px) {
    #header {
      background: linear-gradient( rgba(104, 92, 135, 0.6), rgba(0, 0, 0, 0.6) ), url("../assets/coding.jpeg");
      /* background: linear-gradient( rgba(161, 139, 182, 0.6), rgba(0, 0, 0, 0.6) ), url("/assets/coding.jpeg"); */
      background-repeat: no-repeat;
      background-size: cover;
  
      /* background-position: 20%; */
      background-position: 50%;
      font-size: 0.5rem;
    }

  }

  .scroll-down{
    /* position: relative;
    margin-top: 5vh; */
    margin-top: auto;
    color: #fff;
    font-size: 400%;
    justify-self: flex-end;
    z-index: 9;
    cursor: pointer;
    padding-top: 5rem;
    opacity: 0;
  
    animation-iteration-count: 5 !important;
    -webkit-animation: upAnddown 1s infinite !important;
    animation: upAnddown 1s infinite !important;
    -webkit-animation-timing-function: ease-in-out !important;
    animation-timing-function: ease-in-out !important;
  }
  
  #scroll-arrow {
    display: block;
    /* margin-bottom: auto; */
  }
  
  @keyframes upAnddown{
    0% {
      transform: translateY(0);
    }
  50% {
      transform: translateY(15px);
    }
  100% {
      transform: translateY(0);
    }
  }
  
  .scroll-down svg {
    width: 60px;
    height: 32px;
    fill: #fff;
    display: block;
    margin: auto;
  }
  #scroll-arrow {
    display: block;
    margin-bottom: auto;
  }

  #home-text{
    font-family: 'BioRhyme', serif;
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
    transform: translateY(200%);
    margin-top: 3rem;

  }
  @media (max-width: 767px)
  {
    #home-text{
      margin-top: 1.5rem;
    }
  }

  #content{

    max-width: 140rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 6rem;
  
  }

/* @media(min-width: 1200px)
{ */

  #home-text::before{
    content: '';
    margin-bottom: 10px;
    display: block;
    box-sizing: border-box;
    border-top: 3px solid #bee4f8;
  
  }
  
  #home-text::after{
    content: '';
    margin-top: 10px;
    display: block;
    box-sizing: border-box;
    border-top: 3px solid #bee4f8;
  }
/* } */

  #hide {
    overflow: hidden;
  }
  
  #hide span {
    transform: translateY(400%);
    display: inline-block;
  }
  
  @media (max-width: 767px) {
    .scroll-down {
      margin-top: 3vh;
    }

  }

  #social-footer{
    position: relative;
    margin-top: 10vh; /*WAS 10*/
    width: 100%;
    text-align: center;
    /* background: #212529; */
    background-color: transparent;
    color: #fff;
    font-size: 120%;
    direction: ltr;
    bottom: 0px;
    z-index: 15;
    padding:0;
    /* min-height: 80px; */
    display: flex;
    place-items: center;
  
  }
  
  @media (max-width: 767px) {
    #social-footer {
        /* min-height: 130px; */
        align-items: flex-start;
        /* padding-top: 1vh; */
        margin-top: 5vh;
    }
  }
  
  #social-footer ul {
    display: flex;
    justify-content: center;
  
  }
  
  #social-footer ul li {
    list-style: none;
  }
  
  #social-footer ul li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    margin: 0 15px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  #social-footer ul li a .icon {
    position: relative;
    color: #1b1b1b;
    transition: 0.5s;
    z-index: 3;
  }
  
  #social-footer ul li a:hover .white_icon,
  #social-footer ul li a:focus .white_icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  #social-footer ul li a:hover .black-icon,
  #social-footer ul li a:focus .black-icon {
    color: black;
    transform: rotateY(360deg);
  }
  
  #social-footer ul li a:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
  }
  
  #social-footer ul li a:hover:before,
  #social-footer ul li a:focus:before {
    top: 0;
  }

  #social-footer ul li:nth-child(1) a:before{
    background: black;
  }

    #social-footer ul li:nth-child(2) a:before{
    background: #212529;
  }

  #social-footer ul li:nth-child(3) a:before{
    background: #15AABF;
  }

  #social-footer ul li:nth-child(4) a:before{
    background: #3b5999;
  }
  
  #social-footer ul li:nth-child(5) a:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }

  
  @media (max-width: 767px) {
    #social-footer ul {
      padding-left:0;
      padding-right:0;
    }
  }

  #my_pic
  {
    max-width: 100%;
    border-radius: 5%;
  }

  #aboutText
  {
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 1.5;
  }

  .wrapper{
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1.5s ease-in-out, opacity 1.4s ease-in-out;

  }

  .picWrapper
  {
    margin-bottom: 20px; /*CHANGE THIS IN MOBILE?*/
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1.5s ease-in-out, opacity 1.4s ease-in-out;
  }

  
  .anim{
    transform: translateX(0) !important;
    opacity: 1 !important;
  }

  #aboutMe
  {
      position: relative;
      /* margin-top: 10vh; */
      padding-top: 15vh;
      /* scroll-margin-top: 10vh; ADDED 21.12 */
  }
  
  @media(max-width:1200px)
  {
    #aboutMe
    {
        padding-top: 10vh;
    }
  }

  @media (max-width: 1200px)
  {
    #aboutText{
      font-size: 1.25rem;
    }
  }

  #contact
  {
    background-color: #94c2ee69;
    position: relative;
    padding-top: 15vh;
  }


  #alertPlaceHolder{
    margin-top: 2vh;
  }

  #skills
  {
    background-color: #94c2ee25;
    margin-top: 15vh;
    padding-bottom: 10vh;
  }

  #submitBtn{
    text-decoration: none;
  }

  .myCircle{
    color: #018185;
  }

  .prologue-heading{
    margin: 15px 0;
    text-transform: none;
  }

  #skillsContainer{
    /* margin-top: 5vh; */
    padding-top: 15vh;
  }

  #skillsLink{
    text-decoration: none;
  }

  .required:after{
    content:" *";
    font-weight:bold;
    color: red;
  }





/*NEW FORM RELATED CHANGES*/


.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

#nav_list{
  padding-left: 0;
}

@media(min-width: 1024px)
{
  #nav_list{
    padding-left: 2rem;
  }
}

/* git check */

/* p{
  color: blue;
} */

/* .red{
  color: red;
} */

/* .green{
  color: green;
}

.red{
  color: red;
} */
